/lib/aopalliance-1.0.jar
/lib/commons-logging-1.2.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/lib/javaee.jar
/target/restaurant-rating-1.0-SNAPSHOT.jar
/lib/spring-aop-5.2.3.RELEASE.jar
/lib/spring-aspects-5.2.3.RELEASE.jar
/lib/spring-beans-5.2.3.RELEASE.jar
/lib/spring-context-5.2.3.RELEASE.jar
/lib/spring-context-support-5.2.3.RELEASE.jar
/lib/spring-core-5.2.3.RELEASE.jar
/lib/spring-expression-5.2.3.RELEASE.jar
/lib/spring-instrument-5.2.3.RELEASE.jar
/lib/spring-jdbc-5.2.3.RELEASE.jar
/lib/spring-jms-5.2.3.RELEASE.jar
/lib/spring-messaging-5.2.3.RELEASE.jar
/lib/spring-orm-5.2.3.RELEASE.jar
/lib/spring-oxm-5.2.3.RELEASE.jar
/lib/spring-test-5.2.3.RELEASE.jar
/lib/spring-tx-5.2.3.RELEASE.jar
